<%# locals: (count:) %>
<span id="shopping_list_badge">
  <% if count > 0 %>
    <span class="ml-2 -translate-y-1.5 flex-shrink-0 inline-flex items-center justify-center h-5 min-w-5 px-1.5 rounded-full bg-brand text-zinc-900 text-[10px] font-bold leading-none">
      <%= count > 99 ? "99+" : count %>
    </span>
  <% end %>
</span>
