<div class="mb-6">
  <div class="w-full sm:max-w-xs">
    <%= form_with url: foods_path, method: :get, class: "relative" do %>
      <%= hidden_field_tag :sort_by, params[:sort_by] if params[:sort_by].present? %>
      <%= hidden_field_tag :direction, params[:direction] if params[:direction].present? %>
      <%= text_field_tag :query,
          params[:query],
          class: "block w-full rounded-md bg-white py-1.5 pr-3 pl-10 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6",
          placeholder: "Rechercher un aliment..."
      %>
      <svg class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </div>
</div>
