<p style="margin:0 0 16px 0;"><%= t("views.devise.mailer.new_device_sign_in.greeting", email: @resource.email) %></p>

<p style="margin:0 0 16px 0;"><%= t("views.devise.mailer.new_device_sign_in.intro", ip: @ip) %></p>

<p style="margin:0; color:#71717A; font-size:13px;"><%= t("views.devise.mailer.new_device_sign_in.ignore") %></p>
