<p style="margin:0 0 16px 0;"><%= t("views.devise.mailer.password_changed.greeting", email: @resource.email) %></p>

<p style="margin:0 0 16px 0;"><%= t("views.devise.mailer.password_changed.body") %></p>

<p style="margin:0; color:#71717A; font-size:13px;"><%= t("views.devise.mailer.password_changed.ignore") %></p>
