<div class="max-w-lg mx-auto mt-16 bg-white rounded-xl shadow-md p-8">
  <h1 class="text-2xl font-bold text-blue-800 mb-6">Ajouter un plat</h1>

  <%= render "form", day: @day, day_recipe: @day_recipe, submit_text: "Ajouter" %>
</div>
